/OOP/TempCalculator/nbproject/private/
/OOP/TempCalculator/build/
/OOP/TempCalculator/dist/
/OOP/StatisticCalculation/nbproject/private/
/OOP/StatisticCalculation/build/
/OOP/StatisticCalculation/dist/
/OOP/ValueSwitcher/nbproject/private/
/OOP/ValueSwitcher/build/
/OOP/ValueSwitcher/dist/
/OOP/ExponentTable/nbproject/private/
/OOP/ExponentTable/build/
/OOP/ExponentTable/dist/
/OOP/TimeConversion/nbproject/private/
/OOP/TimeConversion/build/
/OOP/TimeConversion/dist/
/OOP/QuadraticSolver/nbproject/private/
/OOP/QuadraticSolver/build/
/OOP/QuadraticSolver/dist/
