/OOP/TempCalculator/nbproject/private/
/OOP/TempCalculator/build/
/OOP/TempCalculator/dist/
/OOP/StatisticCalculation/nbproject/private/
/OOP/StatisticCalculation/build/
/OOP/StatisticCalculation/dist/
/OOP/ValueSwitcher/nbproject/private/
/OOP/ValueSwitcher/build/
/OOP/ValueSwitcher/dist/
